// Primary colors
$link: #8c8c8c;
$active: #8b9dc3;
$hover: #8b9dc3;
$white: white;


// Background colors
$background: #f7f7f7;
$foreground: white;
$borders: #8c8c8c;

// Text colors
$text-light: white;
$text-dark: black;
$placeholder-text: black;
$error-text: #f44336;