.wallpaper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  background-image: url('welcome.jpg');
  background-size: cover;
    background-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.info {
  font-weight: 300;
  color: white;
}
.header-font {
  font-size: 55px;
  font-weight: 600;
}

@media( min-width: 800px ) {
  .header-font {
    font-size: 100px;
  }
}
