html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height:  100%;
  background-color: white;
  color: #363636;
    
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;

  padding-left: 25px;
  padding-right: 25px;

  > * {
    padding: 10px;
    flex: 1 100%;
  }

  .main {
    text-align: left;
    font-weight: 300;
    font-size: 18px;
  }

  .aside-1 {
    text-align: left;
    width: 50px;
    font-size: 20px;
  }
}

hr {
  border: none;
  border-top:1px dotted lightgrey;
  color:#fff;
  height:1px;
}

.link-box {
  border-color: black;
  font-size: 14px;
  padding: 10px;
  width: 70px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  margin-left: 5px;
  color: black;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
}

.spacer {
  padding-top: 85px;
  padding-bottom: 40px;
}

.spacer-sm  {
  padding-top: 10px;
  padding-bottom: 10px;
}

.spacer-extra {
  padding: 100px 0 100px 0;
}

.bottom-spacer {
  margin-bottom: 30px;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media(min-width: 640px) {
    .column-2 {
        width: 50%;
        display: inline-block;
    }
    .column-flex {
        display: flex;
    }
}

@media all and (min-width: 800px) {
  .main    { 
      flex: 2 0px;
      order: 2;
  }
  .aside-1 { 
      order: 1; 
      padding-left: 25px;
  } 
  .aside-2 { order: 3; }
  .footer  { order: 4; }
  .video-lg {
      width: 30vw;
      height: 20vw;
      min-width: 300px;
      min-height: 200px;
  }

  .link-box:hover {
    border-color: black;
    background-color:black; 
    font-size: 14px;
    padding: 10px;
    width: 70px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin-left: 5px;
    color: white;
    transition: 0.3s all;
  }

}
