.footer {
  background-color: black;
  text-align: left;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px
}

.footer-white {
  color: white;
  font-size: 12px;
}

.icon-custom {
  color: white;
  font-size: 10px;
}